body {
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
h1 {
    text-align: center;
}
#parallax {
    background: url(image.png);
    background-position: left top;
    background-size: 130%;
    background-repeat: no-repeat;
    height: 300px;
}
#content {
    margin: 5% 10%;
}
