body {
    background: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
h1 {
    text-align: center;
}
a {
    color: lightblue;
}
#parallax1 { background: url(image1.png); }
#parallax2 { background: url(image2.png); }
.parallax {
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 130%;
    height: 300px;
}
.content {
    margin: 5% 10%;
}
#attr {
    font-size: 10px;
    text-align: center;
}
